body {
    font-family: sans-serif;
    background:  https://images.pexels.com/photos/343720/pexels-photo-343720.jpeg?h=350&auto=compress&cs=tinysrgb;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
   }

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

